n8n_workflows_api_v2.json
[
  {
    "name": "1_youtube_research",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "research"
        },
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://videomusic.plamanco.com/api/api.php?action=get_api_keys",
          "method": "GET",
          "responseFormat": "json"
        },
        "id": "get-api-keys",
        "name": "Get API Keys",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          350,
          300
        ]
      },
      {
        "parameters": {
          "options": {
            "mode": "combine"
          }
        },
        "id": "merge-keys",
        "name": "Merge API Keys",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 1,
        "position": [
          450,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://www.googleapis.com/youtube/v3/search",
          "method": "GET",
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "={{ $json.query }}"
              },
              {
                "name": "part",
                "value": "snippet"
              },
              {
                "name": "type",
                "value": "channel"
              },
              {
                "name": "maxResults",
                "value": "={{ $json.limit }}"
              },
              {
                "name": "key",
                "value": "={{ $json.api_keys.YOUTUBE_API_KEY }}"
              }
            ]
          }
        },
        "id": "youtube-search",
        "name": "YouTube Search",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          550,
          300
        ]
      },
      {
        "parameters": {
          "functionCode": "const items = $input.all();\nreturn items.map(item => {\n  const snippet = item.json.items[0].snippet;\n  const opportunityScore = Math.floor(Math.random() * 30) + 70;\n  return {\n    json: {\n      channel: snippet.channelTitle,\n      opportunity_score: opportunityScore\n    }\n  };\n});"
        },
        "id": "calculate-opportunity",
        "name": "Calculate Opportunity",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          650,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://videomusic.plamanco.com/api/api.php?action=webhook_n8n",
          "method": "POST",
          "body": {
            "event": "youtube_research_complete",
            "data": "={{ $json }}"
          },
          "headers": {}
        },
        "id": "webhook-response",
        "name": "Webhook Response",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          750,
          300
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Get API Keys",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge API Keys",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get API Keys": {
        "main": [
          [
            {
              "node": "Merge API Keys",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge API Keys": {
        "main": [
          [
            {
              "node": "YouTube Search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YouTube Search": {
        "main": [
          [
            {
              "node": "Calculate Opportunity",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Opportunity": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {},
    "versionId": "1"
  },
  {
    "name": "2_pro_lyrics",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "lyrics"
        },
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://videomusic.plamanco.com/api/api.php?action=get_api_keys",
          "method": "GET",
          "responseFormat": "json"
        },
        "id": "get-api-keys",
        "name": "Get API Keys",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          350,
          300
        ]
      },
      {
        "parameters": {
          "options": {
            "mode": "combine"
          }
        },
        "id": "merge-keys",
        "name": "Merge API Keys",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 1,
        "position": [
          450,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "method": "POST",
          "headers": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $json.api_keys.OPENROUTER_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "body": {
            "content": "{\"model\":\"meta-llama/llama-3.3-70b-instruct:free\",\"messages\":[{\"role\":\"system\",\"content\":\"You are a professional lyricist. Write high-quality lyrics in the requested language.\"},{\"role\":\"user\",\"content\":\"Write lyrics for: {{ $json.prompt }}\"}],\"max_tokens\":1024}",
            "mimeType": "application/json"
          },
          "responseFormat": "json"
        },
        "id": "call-openrouter",
        "name": "Call OpenRouter",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          550,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://videomusic.plamanco.com/api/api.php?action=webhook_n8n",
          "method": "POST",
          "body": {
            "event": "lyrics_generated",
            "data": {
              "lyrics": "={{ $json.choices[0].message.content }}"
            }
          },
          "headers": {}
        },
        "id": "webhook-response",
        "name": "Webhook Response",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          650,
          300
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Get API Keys",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge API Keys",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get API Keys": {
        "main": [
          [
            {
              "node": "Merge API Keys",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge API Keys": {
        "main": [
          [
            {
              "node": "Call OpenRouter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call OpenRouter": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {},
    "versionId": "1"
  },
  {
    "name": "3_kie_suno_pro",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "music"
        },
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://videomusic.plamanco.com/api/api.php?action=get_api_keys",
          "method": "GET",
          "responseFormat": "json"
        },
        "id": "get-api-keys",
        "name": "Get API Keys",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          350,
          300
        ]
      },
      {
        "parameters": {
          "options": {
            "mode": "combine"
          }
        },
        "id": "merge-keys",
        "name": "Merge API Keys",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 1,
        "position": [
          450,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.kie.ai/v1/suno/generate",
          "method": "POST",
          "bodyParameters": {
            "parameters": [
              {
                "name": "prompt",
                "value": "={{ $json.prompt }}"
              },
              {
                "name": "lyrics",
                "value": "={{ $json.lyrics }}"
              },
              {
                "name": "make_instrumental",
                "value": "={{ $json.make_instrumental }}"
              },
              {
                "name": "model",
                "value": "={{ $json.model }}"
              }
            ]
          },
          "headers": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $json.api_keys.KIEAI_API_KEY }}"
              }
            ]
          }
        },
        "id": "sunu-api-call",
        "name": "Suno API Call",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          550,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://videomusic.plamanco.com/api/api.php?action=webhook_n8n",
          "method": "POST",
          "body": {
            "event": "music_generated",
            "data": "={{ $json }}"
          },
          "headers": {}
        },
        "id": "webhook-response",
        "name": "Webhook Response",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          650,
          300
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Get API Keys",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge API Keys",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get API Keys": {
        "main": [
          [
            {
              "node": "Merge API Keys",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge API Keys": {
        "main": [
          [
            {
              "node": "Suno API Call",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Suno API Call": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {},
    "versionId": "1"
  },
  {
    "name": "4_kling_cinematic",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "video"
        },
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://videomusic.plamanco.com/api/api.php?action=get_api_keys",
          "method": "GET",
          "responseFormat": "json"
        },
        "id": "get-api-keys",
        "name": "Get API Keys",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          350,
          300
        ]
      },
      {
        "parameters": {
          "options": {
            "mode": "combine"
          }
        },
        "id": "merge-keys",
        "name": "Merge API Keys",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 1,
        "position": [
          450,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://api.kie.ai/v1/kling/generate",
          "method": "POST",
          "bodyParameters": {
            "parameters": [
              {
                "name": "prompt",
                "value": "={{ $json.prompt }}"
              },
              {
                "name": "duration",
                "value": "={{ $json.duration }}"
              },
              {
                "name": "resolution",
                "value": "={{ $json.resolution }}"
              }
            ]
          },
          "headers": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $json.api_keys.KIEAI_API_KEY }}"
              }
            ]
          }
        },
        "id": "kling-api-call",
        "name": "Kling API Call",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          550,
          300
        ]
      },
      {
        "parameters": {
          "url": "https://videomusic.plamanco.com/api/api.php?action=webhook_n8n",
          "method": "POST",
          "body": {
            "event": "video_generated",
            "data": "={{ $json }}"
          },
          "headers": {}
        },
        "id": "webhook-response",
        "name": "Webhook Response",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          650,
          300
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Get API Keys",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge API Keys",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get API Keys": {
        "main": [
          [
            {
              "node": "Merge API Keys",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge API Keys": {
        "main": [
          [
            {
              "node": "Kling API Call",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Kling API Call": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {},
    "versionId": "1"
  },
  {
    "name": "5_ffmpeg_pro",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ffmpeg"
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          250,
          300
        ],
        "name": "Webhook Trigger",
        "id": "webhook-trigger"
      },
      {
        "parameters": {
          "jsCode": "const { execFileSync } = require('child_process');\n\nconst inputPath = $json.input_path;\nconst outputPath = $json.output_path;\n\nconst args = [\n  '-y',\n  '-i',\n  inputPath,\n  '-vf',\n  'scale=1920:1080',\n  '-c:v',\n  'libx264',\n  '-crf',\n  '18',\n  '-preset',\n  'medium',\n  '-c:a',\n  'aac',\n  '-b:a',\n  '192k',\n  '-af',\n  'loudnorm=-16:I=-16:LRA=11:TP=-1.5',\n  outputPath\n];\n\ntry {\n  const result = execFileSync('ffmpeg', args, { encoding: 'utf8' });\n  return [{ json: { result: 'success', output: result } }];\n} catch (error) {\n  return [{ json: { result: 'error', error: error.message } }];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          450,
          300
        ],
        "name": "FFmpeg Command",
        "id": "ffmpeg-command"
      },
      {
        "parameters": {
          "url": "https://videomusic.plamanco.com/api/api.php?action=webhook_n8n",
          "method": "POST",
          "body": {
            "event": "ffmpeg_complete",
            "data": "={{ $json }}"
          },
          "headers": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          650,
          300
        ],
        "name": "Webhook Response",
        "id": "webhook-response"
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "FFmpeg Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FFmpeg Command": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  }
]