n8n_workflows/1_youtube_research.json
{
  "name": "1_youtube_research",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "research"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://videomusic.plamanco.com/api/api.php?action=get_api_keys",
        "method": "GET",
        "responseFormat": "json"
      },
      "id": "get-api-keys",
      "name": "Get API Keys",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [350, 300]
    },
    {
      "parameters": {
        "options": {
          "mode": "combine"
        }
      },
      "id": "merge-keys",
      "name": "Merge API Keys",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "method": "GET",
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "type",
              "value": "channel"
            },
            {
              "name": "maxResults",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "key",
              "value": "={{ $json.api_keys.YOUTUBE_API_KEY }}"
            }
          ]
        }
      },
      "id": "youtube-search",
      "name": "YouTube Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [550, 300]
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nreturn items.map(item => {\n  const snippet = item.json.items[0].snippet;\n  const opportunityScore = Math.floor(Math.random() * 30) + 70;\n  return {\n    json: {\n      channel: snippet.channelTitle,\n      opportunity_score: opportunityScore\n    }\n  };\n});"
      },
      "id": "calculate-opportunity",
      "name": "Calculate Opportunity",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://videomusic.plamanco.com/api/api.php?action=webhook_n8n",
        "method": "POST",
        "body": {
          "event": "youtube_research_complete",
          "data": "={{ $json }}"
        },
        "headers": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Get API Keys", "type": "main", "index": 0 }
        ],
        [
          { "node": "Merge API Keys", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get API Keys": {
      "main": [
        [
          { "node": "Merge API Keys", "type": "main", "index": 1 }
        ]
      ]
    },
    "Merge API Keys": {
      "main": [
        [
          { "node": "YouTube Search", "type": "main", "index": 0 }
        ]
      ]
    },
    "YouTube Search": {
      "main": [
        [
          { "node": "Calculate Opportunity", "type": "main", "index": 0 }
        ]
      ]
    },
    "Calculate Opportunity": {
      "main": [
        [
          { "node": "Webhook Response", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}