n8n_workflows/2_pro_lyrics.json
{
  "name": "2_pro_lyrics",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lyrics"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://videomusic.plamanco.com/api/api.php?action=get_api_keys",
        "method": "GET",
        "responseFormat": "json"
      },
      "id": "get-api-keys",
      "name": "Get API Keys",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [350, 300]
    },
    {
      "parameters": {
        "options": {
          "mode": "combine"
        }
      },
      "id": "merge-keys",
      "name": "Merge API Keys",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "method": "POST",
        "headers": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.api_keys.OPENROUTER_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": {
          "content": "{\"model\":\"meta-llama/llama-3.3-70b-instruct:free\",\"messages\":[{\"role\":\"system\",\"content\":\"You are a professional lyricist. Write high-quality lyrics in the requested language.\"},{\"role\":\"user\",\"content\":\"Write lyrics for: {{ $json.prompt }}\"}],\"max_tokens\":1024}",
          "mimeType": "application/json"
        },
        "responseFormat": "json"
      },
      "id": "call-openrouter",
      "name": "Call OpenRouter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [550, 300]
    },
    {
      "parameters": {
        "url": "https://videomusic.plamanco.com/api/api.php?action=webhook_n8n",
        "method": "POST",
        "body": {
          "event": "lyrics_generated",
          "data": {
            "lyrics": "={{ $json.choices[0].message.content }}"
          }
        },
        "headers": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Get API Keys", "type": "main", "index": 0 }
        ],
        [
          { "node": "Merge API Keys", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get API Keys": {
      "main": [
        [
          { "node": "Merge API Keys", "type": "main", "index": 1 }
        ]
      ]
    },
    "Merge API Keys": {
      "main": [
        [
          { "node": "Call OpenRouter", "type": "main", "index": 0 }
        ]
      ]
    },
    "Call OpenRouter": {
      "main": [
        [
          { "node": "Webhook Response", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}