n8n_workflows/3_kie_suno_pro.json
{
  "name": "3_kie_suno_pro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "music"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://videomusic.plamanco.com/api/api.php?action=get_api_keys",
        "method": "GET",
        "responseFormat": "json"
      },
      "id": "get-api-keys",
      "name": "Get API Keys",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [350, 300]
    },
    {
      "parameters": {
        "options": {
          "mode": "combine"
        }
      },
      "id": "merge-keys",
      "name": "Merge API Keys",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/v1/suno/generate",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "lyrics",
              "value": "={{ $json.lyrics }}"
            },
            {
              "name": "make_instrumental",
              "value": "={{ $json.make_instrumental }}"
            },
            {
              "name": "model",
              "value": "={{ $json.model }}"
            }
          ]
        },
        "headers": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.api_keys.KIEAI_API_KEY }}"
            }
          ]
        }
      },
      "id": "sunu-api-call",
      "name": "Suno API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [550, 300]
    },
    {
      "parameters": {
        "url": "https://videomusic.plamanco.com/api/api.php?action=webhook_n8n",
        "method": "POST",
        "body": {
          "event": "music_generated",
          "data": "={{ $json }}"
        },
        "headers": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Get API Keys", "type": "main", "index": 0 }
        ],
        [
          { "node": "Merge API Keys", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get API Keys": {
      "main": [
        [
          { "node": "Merge API Keys", "type": "main", "index": 1 }
        ]
      ]
    },
    "Merge API Keys": {
      "main": [
        [
          { "node": "Suno API Call", "type": "main", "index": 0 }
        ]
      ]
    },
    "Suno API Call": {
      "main": [
        [
          { "node": "Webhook Response", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}